@charset "UTF-8";
/* CSS Document */

body{
	background:#415F41;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
}

#container{
	width:680px;
	height:450px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/bg.jpg);
	background-repeat:no-repeat;
	position:relative;
}

nav{
	position:relative;
	top:83px;
	left:220px;
}

#card{
	width:580px;
	height:246px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:144px;
}

a {
	color:#fff;
	text-decoration:none;
	padding:5px;
}

a:hover{
	background:#C90;
	padding:5px;
}

#animal{
	text-align:center;
	width:110px;
	height:100%;
	float:left;
	padding-right:100px;
}

#info{
	font-size:18px;
	line-height:11px;
}